

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@300;400;600&display=swap');

*{
  font-family: 'Agbalumo', system-ui;
font-family: 'Inter', sans-serif;
}
.myComponent{
  background-image: url('./assets/vanlanding.png');
}


